<!DOCTYPE html>
<html lang="en-us">

<!--{ % include head.html %}-->
<head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>
        Stefano &middot; php, milano
        </title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/poole.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/lanyon.css">
    <link rel="stylesheet" href="/components/highlightjs/styles/tomorrow.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
    <style>
        pre, pre > code  {
            background:transparent;
            padding:0;
        }
        pre > code {
            display:block;
            margin-top: -15px;
        }

    </style>

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>

<body>

<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
        <p></p>
    </div>

    <nav class="sidebar-nav">
        <a class="sidebar-nav-item" href="">Home</a>

        <a class="sidebar-nav-item" href="/blog">Posts Archive</a>
                <a class="sidebar-nav-item" href="/blog/tags">Tags</a>
        <a class="sidebar-nav-item" href="/about">About</a>
    </nav>

    <div class="sidebar-item">
        <p>
            &copy; 2015. All rights reserved.
        </p>
    </div>
</div>

<!-- Wrap is the content to shift when toggling the sidebar. We wrap the
     content to avoid any CSS collisions with our real content. -->
<div class="wrap">
    <div class="masthead">
        <div class="container">
            <h3 class="masthead-title">
                <a href="/" title="Home">Stefano</a>
                <small>php, milano</small>
            </h3>
        </div>
    </div>

    <div class="container content">
        <div class="posts">
        <div class="post">
        <h1 class="post-title">
            <a href="/blog/2014/08/11/easy-grid-with-twig">How to output a grid with Twig and Boostrap</a></h2>
        </h1>

        <span class="post-date">August 11th, 2014</span>

        <p>With Twig, the easiest way to format a result-set into a grid is through
the <a href="http://twig.sensiolabs.org/doc/filters/batch.html">batch filter</a>:</p>

<pre><code class="twig">
{% set items = ['a', 'b', 'c', 'd', 'e', 'f', 'g'] %}

{% for row in items|batch(3) %}
&lt;div class="row"&gt;
    {% for cell in row %}
        &lt;div class="col-xs-4"&gt;{{ cell }}&lt;/div&gt;
    {% endfor %}
&lt;/div&gt;
{% endfor %}

</code></pre>

<p>The example above will output a 3 column grid. Just make sure to adjust your
css classes to set the cells' width accordingly.</p>

<p>If you want to output a table instead, you can follow this example from the
official documentation:</p>

<pre><code class="twig">
{% set items = ['a', 'b', 'c', 'd', 'e', 'f', 'g'] %}

&lt;table&gt;
{% for row in items|batch(3, 'No item') %}
    &lt;tr&gt;
        {% for column in row %}
            &lt;td&gt;{{ column }}&lt;/td&gt;
        {% endfor %}
    &lt;/tr&gt;
{% endfor %}
&lt;/table&gt;

</code></pre>

<p>Here's also a full example of a Bootstrap <a href="http://getbootstrap.com/components/#media">media</a>
grid, plus Laravel pagination:</p>

<pre><code class="twig">
{% for row in items|batch(2) %}
&lt;div class="row"&gt;
    {% for i in row %}
    &lt;div class="media col-xs-6"&gt;
        {% if i.photo|trim %}
        &lt;a class="pull-left" href="/post/{{ i.id }}"&gt;
            &lt;img class="media-object" src="/uploads/{{ i.filename }}" alt="{{ i.title }}"&gt;
        &lt;/a&gt;
        {% endif %}
        &lt;div class="media-body"&gt;
            &lt;a href="/post/{{ i.id }}"&gt;
                &lt;h4 class="media-heading"&gt;{{ i.title }}&lt;/h4&gt;
            &lt;/a&gt;
            &lt;div class="date"&gt;{{ i.publication_date|date('M d, Y') }}&lt;/div&gt;
            &lt;p&gt;{{ Str_words(i.body|striptags, 20) }}&lt;/p&gt;
            &lt;a href="/post/{{ i.id }}" class="read-more"&gt;Read more &amp;rarr;&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    {% endfor %}
&lt;/div&gt;
{% endfor %}

{{ items.appends(Input_except('page')).links()|raw }}

</code></pre>

<p>Enjoy!</p>

                <p class="tags">
            Tags:
                        <a href="/blog/tags/twig">twig</a>,                         <a href="/blog/tags/laravel">laravel</a>                    </p>
                    <div class="post">
        <h1 class="post-title">
            <a href="/blog/2014/08/09/use_php_functions_in_twig">How to use any PHP function in Twig</a></h2>
        </h1>

        <span class="post-date">August 9th, 2014</span>

        <p>A common reason I hear for using Blade instead of Twig with Laravel
is the need to register with Twig each PHP function you need before
you can use it in your templates.</p>

<p>This is by design, but there's a way around, if you need it:</p>

<pre><code class="php">$twig-&gt;addFunction(new Twig_SimpleFunction('php_*', function() {
    $arguments = func_get_args();
    $function = array_shift($arguments);
    return call_user_func_array($function, $arguments);
    }
));
</code></pre>

<p>Now you can use whatever function you want in your templates, for example
the much needed <a href="http://php.net/manual/en/function.str-rot13.php">str_rot13</a>:</p>

<pre><code class="twig">
rot13 with makes me {{ php_str_rot13("happy")}} !

</code></pre>

<p>Just in case you use Laravel and the excellent
<a href="https://github.com/rcrowe/TwigBridge">TwigBridge by Rcrowe</a> I suggest you to
register this catch all function inside <code>start/global.php</code> in this way:</p>

<pre><code class="php">Event::listen('twigbridge.twig', function(Twig_Environment $twig) {
    $twig-&gt;addFunction(new Twig_SimpleFunction('php_*', function() {
        $arguments = func_get_args();
        $function = array_shift($arguments);
        return call_user_func_array($function, $arguments);
    }
    ));
});
</code></pre>

<p>From now on you'll be able to use any PHP function you like by just prepending
<code>php_</code> to the name of the function.</p>

                <p class="tags">
            Tags:
                        <a href="/blog/tags/twig">twig</a>,                         <a href="/blog/tags/laravel">laravel</a>                    </p>
                    <div class="post">
        <h1 class="post-title">
            <a href="/blog/2014/08/09/laravel_throw_404_when_model_not_found">How to throw a 404 error if a record is not found.</a></h2>
        </h1>

        <span class="post-date">August 9th, 2014</span>

        <p>Here is an extremely short yet readable way to throw a "page not found"
HTTP error when a record is not found in your Laravel app.</p>

<pre><code>public function getPost($id)
{
    $post = Article::find($id) or App::abort(404);
    return View::make('frontend/post', compact('post'));
}
</code></pre>

<p>Laravel is special because it allows us to keep our codebase extremely
concise. Since some trade-offs have been made within the framework to allow
for that, we should maximize the benefit by writing in a smarter way.</p>

                <p class="tags">
            Tags:
                        <a href="/blog/tags/laravel">laravel</a>                    </p>
                    <div class="post">
        <h1 class="post-title">
            <a href="/blog/2014/08/04/import-many-csv-files-in-mongo">Import Many Csv Files In Mongo</a></h2>
        </h1>

        <span class="post-date">August 4th, 2014</span>

        <p>Use this one liner to bulk import all the csv files inside a given directory into the <code>mydatabase</code> db in Mongo.</p>

<pre><code class="bash">for i in *.csv; do mongoimport -d mydatabase -c ${i%.*} --type csv --file $i --headerline ; done
</code></pre>

<p>The files should be plain CSV files with an header row (that is: the first line should contain the fields name). Each file will be put into a different collection named after the filename.</p>

<p>For example, the following CSV file <code>addressbook.csv</code>:</p>

<pre><code class="csv">id,name,email
1,Tommy,tommy@example.com
</code></pre>

<p>Will create an <code>addressbook</code> collection with the following object:</p>

<pre><code class="json">{
    _id   : 'xxxxxxxxxxxxxxxxx',
    id    : 1,
    name  : "Tommy",
    email : "tommy@example.com"
}
</code></pre>

<p>Enjoy!</p>

                <p class="tags">
            Tags:
                        <a href="/blog/tags/mongodb">mongodb</a>                    </p>
                    <div class="post">
        <h1 class="post-title">
            <a href="/blog/2014/07/26/select-box-with-laravel-twig">Stateful select box in one line with Laravel and Twig</a></h2>
        </h1>

        <span class="post-date">July 26th, 2014</span>

        <p>Here is a (long) one-liner to output a stateful select box with Laravel and the 
<a href="https://github.com/rcrowe/TwigBridge">Twig Bridge Bundle</a>:</p>

<pre><code class="twig">{{ Form_select('user', {'':'Select user'} | merge(user.lists('id', 'name')),Request_get('user'), {class:'form-control'})|raw }}
</code></pre>

<p>In the code sample, <code>user</code> is an Eloquent model, <code>Request_get</code> binds
automatically to the <code>Request::get()</code> method of Laravel's Request facade as well as
<code>Form_select</code> binds to <code>Form::select()</code>, the last array pushes a <code>form-control</code> class 
to the <code>select</code> tag for enhanced bootstrap styling.</p>

<p>Notice we are merging arrays to ensure the select box presents an empty option to beg
the user to choose one:</p>

<pre><code class="twig">{'':'-- Industry --'} | merge(user.lists('id', 'name'))
</code></pre>

<p>When the user submits the form to another page containing the same code snippet, our selectbox
will appear with the right value already selected.</p>

<p>While this one-liner is long, somewhat redundant and a bit complicated it's good for
quick copy-pastes and works with plain Laravel + Twig bridge. A Blade version would of 
course be very similar.</p>

                <p class="tags">
            Tags:
                        <a href="/blog/tags/laravel">laravel</a>                    </p>
                    </div>
</div>

<div class="pagination">
        <span class="pagination-item older">Older</span>
            <span class="pagination-item newer">Newer</span>
    </div>    </div>
</div>

<label for="sidebar-checkbox" class="sidebar-toggle"></label>

<script>
    (function (document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function (e) {
            var target = e.target;

            if (!checkbox.checked ||
                    sidebar.contains(target) ||
                    (target === checkbox || target === toggle)) return;

            checkbox.checked = false;
        }, false);
    })(document);
</script>


<script src="/components/jquery/jquery.min.js"></script>
<script src="/components/bootstrap/js/bootstrap.min.js"></script>

<script src="/components/highlightjs/highlight.pack.js"></script>
<script> hljs.initHighlightingOnLoad();</script>
</body>
</html>
